@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import	url("components/banner.css");
@import url("components/button.css");
@import url("components/introduction.css");
@import url("components/card.css");
@import url("components/icons.css");
body {
	margin: 0px;
	padding:0px;
	font-family: "Lora", serif;
	font-size: 18px;
	background-color: rgb(120,120,120);
}
h1,h2,h3 {
	font-family: "Roboto", sans-serif;
	font-weight: bolder;
}

a:hover {
	color: rgb(80, 80, 80);
}
