.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(30,30,30,0.7) 50%), url("../../images/background.jpg");
	background-size: cover;
	background-position: center;
	padding: 150px 0px;

}

.banner h1 {
	color: white;
	size: 50px;
}

.banner h2 {
	color: white;
	size: 30px;
	font-weight: lighter;
	opacity: 0.8;
}
