.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.card img {
  width: 150px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 4px;
  margin: 50px auto;
}
.card{
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px;
}
.card h3 {
  color: rgb(80,80,80);
}
